---
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

default_language_version:
  python: python3.10

repos:
  # pre-commit-hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=512"]
      - id: check-json
      - id: check-yaml
      - id: detect-aws-credentials
        args: [--allow-missing-credentials]
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: mixed-line-ending
        args: ["--fix=lf"]
      - id: pretty-format-json
        args: [--autofix]
      - id: trailing-whitespace

  # see: https://github.com/DavidAnson/markdownlint/blob/main/doc/Rules.md
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.32.0
    hooks:
      - id: markdownlint

  # cspell
  - repo: https://github.com/streetsidesoftware/cspell-cli
    rev: v6.3.1
    hooks:
      - id: cspell

  # textlint
  - repo: local
    hooks:
      - id: textlint
        name: textlint
        language: node
        types: [file]
        files: \.(txt|md|mdown|markdown)$
        entry: textlint
        require_serial: false
        additional_dependencies:
          - "textlint@12.2.1"
          - "textlint-filter-rule-allowlist@4.0.0"
          - "textlint-rule-ja-no-space-between-full-width@2.2.0"
          - "textlint-filter-rule-comments@1.2.2"
          - "textlint-rule-no-dropping-the-ra@3.0.0"
          - "textlint-rule-terminology@3.0.1"

  # mypy
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.942
    hooks:
      - id: mypy
        name: mypy

  # black
  - repo: https://github.com/ambv/black
    rev: 22.3.0
    hooks:
      - id: black
        types: [python]
        args: ["--config", "pyproject.toml"]

  # isort
  - repo: https://github.com/timothycrosley/isort
    rev: 5.12.0
    hooks:
      - id: isort
        types: [python]
        additional_dependencies:
          - toml

  # flake8
  - repo: https://github.com/PyCQA/flake8
    rev: 4.0.1
    hooks:
      - id: flake8
        entry: pflake8
        additional_dependencies:
          - pyproject-flake8
          - flake8-pie

  # yamllint
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.26.3
    hooks:
      - id: yamllint

  # prettier
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        name: Format GitHub Actions workflow files
        types:
          - yaml
        files: "\\.github/workflows/.*"
